src/main/resources/logs.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://ai.com/soap" elementFormDefault="qualified">
    <xs:element name="GetLogRequest">
        <xs:complexType/>
    </xs:element>
    <xs:element name="GetLogResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="logEntry" type="xs:string" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>